<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a href="https://www.linkedin.com/in/yogesh-borole-5b56b9143/" target="_blank"><img src="assets/linkedin-icon.png" alt="LinkedIn" class="linkedin-icon"></a></li>
        <li><a href="https://github.com/YogeshBorole1998" target="_blank"><img src="assets/github-icon.png" alt="GitHub" class="github-icon"></a></li>
    </ul>

    <ul class="contact-info">
        <li><a href="tel:+917620510652">☏ : +91-7620510652</a></li>
        <li><a href="mailto:borole116@gmail.com">✉ : borole116@gmail.com</a></li>
    </ul>
</div>